# Ignore everything
*

# Keep specific files
!.gitignore
!FF_Develop.py
!lammpsreader.py
!active_learning.py
!qe_io.py
!plot_al_convergence.py
!generate_potential_template.py

# Keep tests
!Tools
!Tools/*.py
